* {
   letter-spacing: 1px;
   font-family: 'Open Sans', sans-serif;
}

button {
   outline: none;

   &.btn-matrix {
      transition: all 0.1s ease-in;
      cursor: pointer;

      &:hover {
         transform: scale(1.1);
      }
   }

}

input {
   &.block {
      width: 20px;
      height: 20px;
      cursor: pointer;
   }
}

p {
   input[type="checkbox"] {
      width: 20px;
      height: 20px;
      margin-left: 5px;
   }
}

strong {
   font-size: 20px;
}

.caro {
   display: flex;
   justify-content: center;
}

.rows {
   button {
      position: relative;
      cursor: pointer;
      transition: all 0.2s ease-in;
      overflow: hidden;

      &:hover {
         transform: scale(1.1);
      }

      p {
         position: absolute;
         top: 50%;
         left: 50%;
         width: 100%;
         height: auto;
         transform: translate(-50%, -55%);
      }
   }
}

.prevX {
   background: rgba($color: red, $alpha: .4);
}

.prevY {
   background: rgba($color: blue, $alpha: .4);
}

.player1-play {
   color: red;
   font-size: 20px;
   font-weight: 600;
}

.player2-play {
   color: blue;
   font-size: 20px;
   font-weight: 600;
}

.player1 {
   color: red;
   font-size: 20px;
   font-weight: 600;
   opacity: 0;
}

.player2 {
   color: blue;
   font-size: 20px;
   font-weight: 600;
   opacity: 0;
}

.display {
   transition: all 0.3s ease-in;
   opacity: 1;
}

.footer {
   height: 30px;
   align-items: center;
   margin-top: 15px;

   button {
      padding: 12px 15px;
   }
}

*::selection {
   background: pink;
   color: #fff;
}